* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
main {
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  background-color: #f7ecde;
  margin: 5% auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
main h1 {
  margin: 20px 0 10px 0;
  text-align: center;
}
article {
  background-color: #e9dac1;
  padding: 5px 10px;
  margin-top: 20px;
}
article .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

button {
  border: none;
  font-size: 20px;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.5s linear all;
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -ms-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
